<p id="notice"><%= notice %></p>

<p>
  <b>Taggable:</b>
 
  <%= image_tag @taggable.photo.url(:editable) %>
</p>


<%= link_to 'Edit', edit_taggable_path(@taggable) %> |
<%= link_to 'Back', taggables_path %>
